.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5px 10px;
  min-height: 50px;
  background: #A4A9D0;
  margin-bottom: 5px;
}
.rootActive {
  composes: root;
  background: #9EA7E7;
  border: 3px solid white;
}
.keys {
  position: absolute;
  top: 21px;
  right: 12px;
  width: 39px;
  display: flex;
}