* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.root {
  background: #efefef;
  max-width: 400px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
