.root {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btn {
  width: 150px;
  font-size: 16px;
  padding: 8px 12px;
  border: 0;
  background: gray;
  color: #fff;
  font-family: sans-serif;
}
.btn:disabled {
  background: #efefef;
}